<div class="footer">
  <div class="row">
    <div class="col-md-4">
      <div class="panel" style="background-color:black">
        <div class="panel-heading text-center title"><h4><b>Enquiry</b></h4></div>
        <div class="panel-body">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Comapny</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Contact</label>
            <input type="text" class="form-control">
          </div>
          <button type="button" name="button" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="">
      <div class="panel" style="background-color:black">
        <div class="panel-heading text-center title"><h4><b>Contact Us</b></h4></div>
        <div class="panel-body">
          <div class="row" style="font-size:20px; font-weight:700">
            <div class="col-md-4">Phone</div>
            <div class="col-md-8">123457890/9988556633</div>
          </div>
            <br>
            <div class="row" style="font-size:20px; font-weight:700;">
              <div class="col-md-4">Email</div>
              <div class="col-md-8">abcd@gmail.com</div>
            </div>
            <br>
            <div class="row" style="font-size:20px; font-weight:700">
              <div class="col-md-4">Address</div>
              <div class="col-md-8"><p>Address1</p>
              <p>address2</p>
            <p>Pune-45454554</p></div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel" style="background-color:black">
        <div class="panel-heading text-center title"><h4><b>Social Links</b></h4></div>
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
